PARAMETERS=
'{
    projectName: "test-project",
    projectDescription: "A TypeScript program to deploy a static website on AWS",
    pulumiOrganization: 'someOrganization',
    awsRegion: 'sa-east-1',
    indexFile: 'index.html',
    errorFile: 'error.html',
    distPath: '../dist'
}'